#mainTable th:nth-child(1), #mainTable td:nth-child(1),
#mainTable th:nth-child(3), #mainTable td:nth-child(3),
#mainTable th:nth-child(5), #mainTable td:nth-child(5) {
    display: none;
}

#mainTable th:nth-child(6), #mainTable td:nth-child(6) {
    width: 49px;
}

#mainTable td:nth-child(6) {
    text-align: center;
}