#programsTable th:nth-child(1), #programsTable td:nth-child(1),
#programsTable th:nth-child(3), #programsTable td:nth-child(3),
#programsTable th:nth-child(5), #programsTable td:nth-child(5),
#programsTable th:nth-child(9), #programsTable td:nth-child(9),
#programsTable th:nth-child(13), #programsTable td:nth-child(13) {
    display: none;
}

#programsTable th:nth-child(2), #programsTable td:nth-child(2) {
    white-space: pre-wrap;
}

#modalBodyInfo {
    white-space: pre-wrap;
}