<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Добавить систему ЧПУ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>

    <script th:src="@{js/main.js}"></script>
    <link rel="stylesheet" th:href="@{css/main.css}"/>

    <script th:src="@{js/welcome.js}"></script>
    <link rel="stylesheet" th:href="@{css/welcome.css}"/>
</head>
<body>
    Добавить систему ЧПУ.
</body>
</html>