<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="fragments :: head" />

    <script th:src="@{js/edit_workshops.js}"></script>
    <link th:rel="stylesheet" th:href="@{css/edit_workshops.css}"/>
</head>
<body>
<th:block th:replace="fragments :: navbar('edit')" />

<div class="container">
    <div class="row pb-4 text-center">
        <div class="col-12">
            <h2>Редактировать список цехов</h2>
        </div>
    </div>

    <input type="hidden" id="workshopId" value="0">
    <div class="form-row align-items-end justify-content-center">
        <div class="input-group col-5">
            <input type="text" class="form-control" id="name" placeholder="Цех" aria-label="Цех">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="clear">&#10060;</button>
            </div>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" id="save">Сохранить</button>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-5">
            <table class="table table-bordered table-hover" id="workshopsTable">
                <thead class="thead-light text-center">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Цех</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="workshop : ${workshops}">
                    <td th:text="${workshop.id}"></td>
                    <td th:text="${workshop.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="button" class="btn btn-primary m-2" id="edit">Редактировать</button>
            <button type="button" class="btn btn-primary m-2" id="delete">Удалить</button>
        </div>
    </div>
</div>
</body>
</html>