<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Редактировать системы ЧПУ</title>

    <th:block th:replace="welcome :: head_import"/>

    <script th:src="@{js/edit_control_systems.js}"></script>
    <link rel="stylesheet" th:href="@{css/edit_control_systems.css}"/>
</head>
<body>
<div class="container">
    <div class="row pb-4 text-center">
        <div class="col-12">
            <h2>Редактировать систему ЧПУ</h2>
        </div>
    </div>

    <input type="hidden" id="controlSystemId" value="0">
    <div class="form-row align-items-end justify-content-center">
        <div class="input-group col-5">
            <input type="text" class="form-control" id="name" placeholder="Система ЧПУ" aria-label="Система ЧПУ">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="clearEditField()">&#10060;</button>
            </div>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" onclick="saveControlSystem()">Сохранить</button>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-5">
            <table class="table table-bordered table-hover">
                <thead class="thead-light text-center">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Системы ЧПУ</th>
                </tr>
                </thead>
                <tbody  id="controlSystemsTbody">
                <tr th:each="controlSystem : ${controlSystems}" onclick="handleRowClick(this)">
                    <td th:text="${controlSystem.id}"></td>
                    <td th:text="${controlSystem.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="button" class="btn btn-outline-primary m-2" onclick="goWelcomePage()">Назад</button>
            <button type="button" class="btn btn-primary m-2" onclick="editControlSystem()">Редактировать</button>
            <button type="button" class="btn btn-primary m-2" onclick="deleteControlSystem()">Удалить</button>
        </div>
    </div>
</div>
</body>
</html>