<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="fragments :: head"/>

    <script th:src="@{js/edit_common.js}"></script>
    <script th:src="@{js/edit_developers.js}"></script>
    <link th:rel="stylesheet" th:href="@{css/edit_developers.css}"/>
</head>
<body>
<th:block th:replace="fragments :: navbar('edit_dev')"/>

<div class="container">
    <div class="row mb-4 text-center">
        <div class="col-12">
            <h2>Редактировать список разработчиков</h2>
        </div>
    </div>

    <input type="hidden" id="hiddenId" value="0">
    <div class="form-row justify-content-center mb-4">
        <div class="col-4">
            <div class="input-group">
                <input type="text" class="form-control" id="name" placeholder="Разработчик" aria-label="Разработчик">
                <div class="invalid-tooltip">Поле должно быть заполнено.</div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="clearBtn">&times;</button>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" id="saveBtn">Сохранить</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-5">
            <table class="table table-bordered table-hover" id="mainTable">
                <thead class="thead-light text-center">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Разработчик</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="developer : ${developers}">
                    <td th:text="${developer.id}"></td>
                    <td th:text="${developer.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <th:block th:replace="fragments :: editButtons"/>
</div>
</body>
</html>