<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="fragments :: head"/>

    <script th:src="@{js/edit_common.js}"></script>
    <script th:src="@{js/edit_developers.js}"></script>
    <link th:rel="stylesheet" th:href="@{css/edit_common.css}"/>
</head>
<body>
<th:block th:replace="fragments :: navbar('edit_dev')"/>

<div class="container">
    <div class="row mb-4 text-center">
        <div class="col-12">
            <h2>Редактировать список разработчиков</h2>
        </div>
    </div>

    <th:block th:replace="fragments :: editCommon('Разработчик')"/>
</div>
</body>
</html>