<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="fragments :: head" />

    <script th:src="@{js/edit_machine_types.js}"></script>
    <link th:rel="stylesheet" th:href="@{css/edit_machine_types.css}" />
</head>
<body>
<th:block th:replace="fragments :: navbar('edit')" />

<div class="container">
    <div class="row pb-4 text-center">
        <div class="col-12">
            <h2>Редактировать типы станков</h2>
        </div>
    </div>

    <input type="hidden" id="machineTypeId" value="0">
    <div class="form-row align-items-end justify-content-center">
        <div class="input-group col-4">
            <input type="text" class="form-control" id="name" placeholder="Тип станка" aria-label="Тип станка">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="clear">&#10060;</button>
            </div>
        </div>
        <div class="col-auto">
            <button type="button" id="save" class="btn btn-primary">Сохранить</button>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-5">
            <table class="table table-bordered table-hover" id="machineTypesTable">
                <thead class="thead-light text-center">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Тип станка</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="type : ${machineTypes}">
                    <td th:text="${type.id}"></td>
                    <td th:text="${type.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="button" id="edit" class="btn btn-primary m-2">Редактировать</button>
            <button type="button" id="delete" class="btn btn-primary m-2">Удалить</button>
        </div>
    </div>
</div>
</body>
</html>