<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:replace="welcome :: head_fragment"/>

    <script th:src="@{js/find_by_part.js}"></script>
    <link rel="stylesheet" th:href="@{css/find_by_part.css}"/>
</head>
<body>
<div class="container">
    <div class="row pb-4">
        <div class="col-12 text-center">
            <h2>Поиск по номеру детали</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto m-2">
            <button type="button" class="btn btn-primary" onclick="goAddProgram()">Добавить программу</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-bordered table-hover">
                <thead class="thead-light text-center">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Номер детали</th>
                    <th scope="col">Номер программы</th>
                    <th scope="col">Установ</th>
                    <th scope="col">Цех</th>
                    <th scope="col">Разработчик</th>
                    <th scope="col">Станок</th>
                    <th scope="col">Система ЧПУ</th>
                    <th scope="col">Дата разработки</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="program : ${programs}" onclick="handleRowClick(this)">
                    <td th:text="${program.id}"></td>
                    <td th:text="${program.partNumber}"></td>
                    <td th:text="${program.programNumber}"></td>
                    <td th:text="${program.position}"></td>
                    <td th:text="${program.workshop.name}"></td>
                    <td th:text="${program.developer.name}"></td>
                    <td th:text="${program.machine.name}"></td>
                    <td th:text="${program.controlSystem.name}"></td>
                    <td th:text="${program.date.toString()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <form method="POST" action="/editProgram" id="editProgramById">
                <input type="hidden" name="programId" id="programId">
            </form>
            <button type="button" class="btn btn-outline-primary m-2" onclick="goWelcomePage()">Назад</button>
            <button type="button" class="btn btn-primary m-2" onclick="editCNCProgram()">Редактировать</button>
            <button type="button" class="btn btn-primary m-2" onclick="deleteCNCProgram()">Удалить</button>
        </div>
    </div>
</div>
</body>
</html>