<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:fragment="head">
        <title>spiski</title>
        <!--/* Favicon works only when added right behind title. */-->
        <link rel="icon" type="image/png" th:href="@{img/favicon.png}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script th:src="@{webjars/jquery/3.5.1/jquery.min.js}"></script>
        <script th:src="@{webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
        <script th:src="@{webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.2/css/bootstrap.min.css}"/>

        <!--/* Add user css and js here after bootstrap and jquery frameworks. */-->
        <script th:src="@{js/main.js}"></script>
        <link th:rel="stylesheet" th:href="@{css/main.css}"/>
    </th:block>

</head>
<body>
<nav th:fragment="navbar(page)" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img th:src="@{img/favicon.png}" alt="A">spiski
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li th:with="isCurrent=${page == 'main'}"
                class="nav-item" th:classappend="${isCurrent} ? active : ''">
                <a href="/" class="nav-link" th:classappend="${isCurrent} ? disabled : ''">главная</a>
            </li>

            <li th:with="isCurrent=${page == 'add'}"
                class="nav-item" th:classappend="${isCurrent} ? active : ''">
                <a href="/addProgram" class="nav-link" th:classappend="${isCurrent} ? disabled : ''">добавить</a>
            </li>

            <li th:with="isCurrent=${page == 'stat'}"
                class="nav-item" th:classappend="${isCurrent} ? active : ''">
                <a href="/stat" class="nav-link" th:classappend="${isCurrent} ? disabled : ''">статистика</a>
            </li>

            <li class="nav-item dropdown" th:classappend="${#strings.startsWith(page, 'edit')} ? active : ''">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    редактировать
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/editControlSystems"
                       th:classappend="${page == 'edit_cnc'} ? '' : 'text-muted'">системы ЧПУ</a>
                    <a class="dropdown-item" href="/editMachineTypes"
                       th:classappend="${page == 'edit_type'} ? '' : 'text-muted'">типы станков</a>
                    <a class="dropdown-item" href="/editMachines"
                       th:classappend="${page == 'edit_machine'} ? '' : 'text-muted'">модели станков</a>
                    <a class="dropdown-item" href="/editDevelopers"
                       th:classappend="${page == 'edit_dev'} ? '' : 'text-muted'">разработчиков</a>
                    <a class="dropdown-item" href="/editWorkshops"
                       th:classappend="${page == 'edit_workshop'} ? '' : 'text-muted'">цеха</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="#" class="nav-link" onclick="alert('Не работает пока!')">вход</a>
            </li>
        </ul>
    </div>
</nav>

<!-- edit pages -->

<div th:fragment="editButtons" class="row justify-content-center">
    <div class="col-auto">
        <button type="button" class="btn btn-primary ml-2 mr-2" id="editBtn">Редактировать</button>
        <button type="button" class="btn btn-primary ml-2 mr-2" id="deleteBtn">Удалить</button>
    </div>
</div>

</body>
</html>