<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <th:block th:replace="fragments :: head"/>

    <script th:src="@{js/edit_common.js}"></script>
    <script th:src="@{js/machines_edit.js}"></script>
    <link th:href="@{css/machines_edit.css}" th:rel="stylesheet"/>
</head>
<body>
<th:block th:replace="fragments :: navbar('edit_machine', ${authority})"/>

<div class="container">
    <div class="row pb-4 text-center">
        <div class="col-12">
            <h2>Редактировать станки</h2>
        </div>
    </div>

    <input type="hidden" id="hiddenId" value="0">
    <div class="form-row justify-content-center align-items-center">
        <div class="col-3">
            <div class="input-group">
                <input type="text" class="form-control" id="name"
                       placeholder="Станок" aria-label="Станок" spellcheck="false">
                <div class="invalid-tooltip">Поле должно быть заполнено.</div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="clearBtn">&times;</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="input-group">
                <label for="machineType" class="sr-only">Тип станка</label>
                <select class="form-control" id="machineType">
                    <option value="0" disabled selected>Тип станка...</option>
                    <option th:each="type : ${machineTypes}"
                            th:value="${type.id}" th:text="${'x ' + type.name}">
                    </option>
                </select>
                <div class="invalid-tooltip">Тип станка должен быть указан.</div>
            </div>
        </div>
        <div class="col-auto">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="disableCheckbox">
                <label for="disableCheckbox" class="form-check-label">не использовать</label>
            </div>
        </div>
    </div>
    <div class="form-row justify-content-center mt-2 mb-3">
        <div class="col-auto">
            <button type="button" class="btn btn-primary" id="saveBtn">Сохранить</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <div class="scroll-table">
                <table class="table table-bordered table-hover m-0" id="mainTable">
                    <thead class="thead-light text-center">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Станок</th>
                        <th scope="col">machineTypeId</th>
                        <th scope="col">Тип станка</th>
                        <th scope="col">isDisabled</th>
                        <th scope="col">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-slash-fill"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
                                <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                            </svg>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="machine : ${machines}" th:object="${machine}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{name}"></td>
                        <td th:text="*{machineType.id}"></td>
                        <td th:text="*{machineType.name}"></td>
                        <td th:text="*{isDisabled}"></td>
                        <td>
                            <svg th:if="*{isDisabled}" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                            </svg>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <th:block th:replace="fragments :: editButtons"/>
</div>
</body>
</html>