<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <th:block th:replace="fragments :: head"/>

    <script th:src="@{js/program_common.js}"></script>
    <script th:src="@{js/program_edit.js}"></script>
</head>
<body>
<th:block th:replace="fragments :: navbar('edit', ${authority})"/>

<div class="container">
    <div class="row mb-4">
        <div class="col-12 text-center">
            <h2>Редактировать программу</h2>
        </div>
    </div>

    <input type="hidden" id="programId" th:value="${program.id}">
    <div class="form-row justify-content-center mb-3">
        <div class="col-6">
            <label for="partNumber">Номер детали</label>
            <input type="text" class="form-control" id="partNumber" spellcheck="false" maxlength="1000"
                   th:value="${program.partNumber.replaceAll(',', ', ')}">
            <div class="invalid-tooltip">Поле должно быть заполнено.</div>
        </div>
        <div class="col-2">
            <label for="position">Установ</label>
            <input type="text" class="form-control" id="position" th:value="${program.position}">
            <div class="invalid-tooltip">Должно быть больше заполнено.</div>
        </div>
    </div>
    <div class="form-row justify-content-center mb-3">
        <div class="col-4">
            <label for="machine">Станок</label>
            <select class="form-control" id="machine">
                <option th:each="machine : ${machines}"
                        th:with="id=${machine.id}, name=${machine.name}"
                        th:value="${id}" th:text="${name}"
                        th:selected="${id == program.machine.id}">
                </option>
            </select>
        </div>
        <div class="col-4">
            <label for="controlSystem">Система ЧПУ</label>
            <select class="form-control" id="controlSystem">
                <option th:each="controlSystem : ${controlSystems}"
                        th:with="id=${controlSystem.id}, name=${controlSystem.name}"
                        th:value="${id}"
                        th:text="${name}"
                        th:selected="${id == program.controlSystem.id}">
                </option>
            </select>
        </div>
    </div>

    <div class="form-row justify-content-center mb-3">
        <div class="col-6">
            <label for="programNumber">Номер программы</label>
            <input type="text" class="form-control" id="programNumber" spellcheck="false" maxlength="255"
                   th:value="${program.programNumber}">
            <div class="invalid-tooltip">Поле должно быть заполнено.</div>
        </div>
        <div class="col-2">
            <label for="workshop">Цех</label>
            <select class="form-control" id="workshop">
                <option th:each="workshop : ${workshops}"
                        th:with="id=${workshop.id}, name=${workshop.name}"
                        th:value="${id}" th:text="${name}"
                        th:selected="${id == program.workshop.id}">
                </option>
            </select>
        </div>
    </div>
    <div class="form-row justify-content-center mb-3">
        <div class="col-6">
            <label for="developer">Разработчик</label>
            <select class="form-control" id="developer">
                <option th:each="developer : ${developers}"
                        th:with="id=${developer.id}, name=${developer.name}"
                        th:value="${id}" th:text="${name}"
                        th:selected="${id == program.developer.id}">
                </option>
            </select>
        </div>
        <div class="col-2">
            <label for="date">Дата разработки</label>
            <input type="date" class="form-control" id="date" th:value="${program.date}">
            <div class="invalid-tooltip">Укажите дату разработки.</div>
        </div>
    </div>
    <div class="form-row justify-content-center">
        <div class="form-group col-8">
            <label for="info">Примечание</label>
            <textarea class="form-control" id="info" rows="4" maxlength="1000" th:text="${program.info}"></textarea>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="button" id="cancelBtn" class="btn btn-outline-primary m-2">Отмена</button>
            <button type="button" id="saveBtn" class="btn btn-primary m-2">OK</button>
        </div>
    </div>
</div>
</body>
</html>