<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <th:block th:replace="fragments :: head"/>

    <script th:src="@{js/stat.js}"></script>
    <link rel="stylesheet" th:href="@{css/stat.css}"/>
</head>
<body>
<th:block th:replace="fragments :: navbar('stat', ${authority})"/>

<div class="container">
    <div class="row pb-2 text-center">
        <div class="col-12">
            <h2>А-ну-ка, взлянем на статистику</h2>
        </div>
    </div>

    <div class="text-secondary">
        Всего: <span th:text="${total}"></span><br>
        За период: <span id="tableSize" th:text="${programs.size()}"></span>
    </div>

    <div class="form-row justify-content-center mb-4">
        <label for="fromDate" class="col-auto col-form-label">За период с:</label>
        <div class="col-2">
            <input type="date" class="form-control" id="fromDate" th:value="${dateRage.from}">
            <div class="invalid-tooltip">Введите дату</div>
        </div>
        <label for="toDate" class="col-auto col-form-label ml-4">по:</label>
        <div class="col-2">
            <input type="date" class="form-control" id="toDate" th:value="${dateRage.to}">
            <div class="invalid-tooltip">Введите дату</div>
        </div>
        <div class="col-auto">
            <button class="btn btn-info" type="button" id="loadBtn">Показать</button>
        </div>
    </div>

    <div id="filter" class="form-group row">
        <label class="col-2 col-form-label" for="developer">Разработчик</label>
        <div class="col-4">
            <select class="form-control" id="developer">
                <option value="0"></option>
                <option th:each="developer : ${developers}"
                        th:value="${developer.id}" th:text="${developer.name}"></option>
            </select>
        </div>
        <label class="col-2 col-form-label" for="machineType">Тип станка</label>
        <div class="col-4">
            <select class="form-control" id="machineType">
                <option value="0"></option>
                <option th:each="type : ${machineTypes}"
                        th:value="${type.id}" th:text="${type.name}"></option>
            </select>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="scroll-table">
                <table class="table table-bordered table-hover m-0" id="programsTable">
                    <thead class="thead-light text-center">
                    <tr>
                        <th scope="col">Деталь</th>
                        <th scope="col">Станок</th>
                        <th scope="col">machineTypeId</th>
                        <th scope="col">Система ЧПУ</th>
                        <th scope="col">Программа</th>
                        <th scope="col">Цех</th>
                        <th scope="col">developerId</th>
                        <th scope="col">Разработал</th>
                        <th scope="col">Дата</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="program : ${programs}" th:object="${program}">
                        <td th:text="*{partNumber}"></td>
                        <td th:text="*{machine.name}"></td>
                        <td th:text="*{machine.machineType.id}"></td>
                        <td th:text="*{controlSystem.name}"></td>
                        <td th:text="*{programNumber}"></td>
                        <td th:text="*{workshop.name}"></td>
                        <td th:text="*{developer.id}"></td>
                        <td th:text="*{developer.name}"></td>
                        <td th:text="*{getParsedDate('dd.MM.yyyy')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>